<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time Face Recognition with Bounding Boxes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>

  

    <div class="cont">
      <video id="video" width="640" height="480" autoplay></video>
      <canvas id="overlay" width="640" height="480"></canvas>
    </div>
    <button onclick="backToDetectPages()" class="BackButton">back to detection</button>
    
    <!-- <form action="" onsubmit="SaveData()"> -->
      <!-- <div class="input_capture">
        <input type="text" id="Username" placeholder="Enter your name" required />
        <input type="submit" value="Save Data" />
      </div> -->
    <!-- </form> -->

    <script src="{{ url_for('static', filename='js/recognition.js') }}"></script>
  </body>
</html>